
*{
  margin:0;
  padding:0;
}
body{
  min-height: 100vh;
  display:flex;
  justify-content:center;
  align-items: center;
  background:hsl(30,38%,92%);
  
  
}
.container{
  display:flex;
  justify-content: space-between;
  width:500px;
}
.banner{
  width:55%;
}
.product_banner1{
  width:100%;
  height:100%;
  border-radius:10px 0 0 10px;
  display:block;
}
.product_banner2{ 
  display:none;
}
.product_details{
  width:45%;
  background:white;
  border-radius:0 10px 10px 0;
  padding:1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:1rem;
}
.product_details .title{
  font-family: montserrat;
  color:hsl(228,12%,48%);
  font-size: .9rem;
  letter-spacing: .3rem;
  font-weight: 500;  
}
.product_details .product_name{
  font-family:Fraunces;
  font-weight:700;
}
.product_details .product_description{
  font-family:Montserrat;
  font-size:14px;
  color: hsl(228,12%,48%);
  font-weight:400; 
}
.product_details .price{
  display: flex;
  justify-content:flex-start;
  align-items:center;  
}

.product_details .price .offer_price{ 
  font-size:2rem;
  color:hsl(158,36%,37%);
  font-family:Fraunces;
  font-weight:700;
}
.product_details .price .actual_price{
  font-size:.5rem;
  padding-left:25px;
  color:hsl(228,12%,48%);
  font-weight:700;
  text-decoration: line-through;
}
.product_details .btn{
  padding:10px;
  background-color: hsl(158,36%,37%);
  color:white;
  border-radius:5px;
  border:none;
  display:flex;
  justify-content:center;
  align-items: center;
  font-weight:700;
  cursor:pointer;
}
.product_details .btn .cart{
  padding-left: 10px;
}
.btn:hover{
  background-color: hsl(158, 52%, 13%)  ;
}

@media screen and (max-width:600px){
  .body{
    justify-content: center;
  }
  .container{
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:0;
    margin-right: 0; 
  }
  .banner{
    width:63%;
  }
  .product_banner1{
    display: none;
  }
  .product_banner2{
    display: block;
    width:100%;
    height:100%;
    border-radius: 10px 10px 0 0;
  }
  .product_details{
    border-radius: 0 0 10px 10px;
    width:50%; 
  }
}
